<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./template/style.css" />
    <title>Email</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h2>Foxflue</h2>
      </header>
      <div class="text-content">
        <p>
          Wlcome to Foxflue 🎉🎊.. We are very glad to get your here. Share your
          problem with us, we'll help you to solve it with our 100%. We hope you
          won't be unhappy with our service.
        </p>
      </div>
      <div class="footer">
        <p>foxflue@2021</p>
      </div>
    </div>
  </body>
</html>
